:root{
    --searchFontSize: 1.5rem;
    --searchFilterIconSize: 1.6rem;
}

/* Search */
.Search, .SearchResults {
    margin: auto;
    text-align: center;
    padding: 0px 0px 20px 0px;
    font-family: var(--fontFamily);
}

.searchChild{
    padding: 20px 15px;
}

.searchbar{
    display: inline-block;
}

.Search li{
    display: inline-block;
    vertical-align: middle;
} 

.searchForm{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primaryColor);
    padding: 0.2rem;
    border: 1px solid black;
    border-radius: 0.3rem;
}
::placeholder{
    color: darkgray;
}

.searchInput[type=text]{
    font-size: var(--searchFontSize);
    width: 100%;
    padding: 0 0.5rem;
    border: none;
    outline: none;
    background-color: var(--primaryColor);
    border-right: 1px solid black;
    border-left: 1px solid black;
}
  
.searchButton[type="submit"]{
    font-size: var(--searchFontSize);
    margin: 0;
    padding: 0 0.2rem;
    border: none;
    outline: none;
    background-color: var(--primaryColor);
    cursor: pointer;
}
.searchButton:active{
    color: darkgray;
}
.searchButton svg{
    width: var(--searchFilterIconSize);
    /* vertical-align: middle; */
    vertical-align: text-bottom;
}

.clearButton[type="reset"]{
    font-size: var(--searchFontSize);
    margin: 0;
    padding: 0 0.2rem;
    border: none;
    outline: none;
    background-color: var(--primaryColor);
    cursor: pointer;
}
.clearButton:active{
    color: rgb(187, 0, 0);
}
.clearButton svg{
    width: var(--searchFilterIconSize);
    /* vertical-align: middle; */
    vertical-align: text-bottom;
}

/* Filter */
.foodlistButton{
    display: inline-block; 
    font-size: var(--searchFontSize);
    background-color: var(--primaryColor);
    border: var(--foodItemBorderHover);
    border-radius: 0.25rem;
}
  
.foodlistIcon{
    width: var(--searchFilterIconSize);
    /* vertical-align: middle; */
    vertical-align: text-bottom;
}
