/* Search */
.Search, .SearchResults {
    margin: auto;
    margin-top: 20px;
    text-align: center;
    padding: 0px 0px 20px 0px;
    font-family: var(--fontFamily);
}

.searchChild{
    padding: 20px 15px;
}

.searchbar{
    display: inline-block;
}

.Search li{
    display: inline-block;
    vertical-align: middle;
} 

.searchForm{
}
::placeholder{
    color: darkgray;
}
.searchInput[type=text]{
    background-color: var(--primaryColor);
    font-family: var(--fontFamily);
    font-size: var(--fontSizeFoodHeader);
    border: 1px solid darkgray;
    padding-right: 50px;
    border-radius: 5px;
    padding-left: 10px;
}
  
.searchButton[type="submit"]{
    background-color: var(--backgroundColor);
    border: 1px solid darkgray;
    margin-left: -40px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    vertical-align: top;
}
.searchButton:hover{
    transition: all 0.2s ease-in;
    background-color: var(--primaryColor);
    border: 1px solid black;
  }

.searchButton .searchIcon{
    width: 25px;
}



/* foodlist */
.foodlistButton{
    display: inline-block;
    background-color: var(--primaryColor);    
    border: var(--foodItemBorderHover);
    border-radius: 5px;
}
  
.foodlist{
    display: inline-block;
    margin: auto;
}

.foodlistIcon{
    width: 26px;
}
