/* *{
  margin: 0;
  padding: 0;
} */
@import "./style/NavigationBar.css";
@import "./style/Food.css";
@import "./style/FoundItems.css";
@import "./style/Search.css";
@import "./style/FilterPopup.css";
@import "./style/TagAutocomplete.css";
@import "./style/Diary.css";
@import "./style/Home.css";

:root {
  /* Light Version */
  --backgroundColor: #faffdd;
  --primaryColor: #e1e9b35c;
  --secondaryColor: rgb(235 235 235);

  --fontColor: rgb(0 0 0);
  --boxShadow: 0px 0px 10px rgb(0 0 0 / 30%);
  --boxShadowHover: 0px 0px 10px rgb(0 0 0 / 50%);

  --foodItemBorder: 1px solid rgba(0, 0, 0, 0.2);
  --foodItemBorderHover: 1px solid rgba(0, 0, 0, 0.5);

  --headlineFont: 26px;
  --fontFamily: 'Jua', cursive;
  --fontSizeFoodHeader: 22px;
  --fontSizeFoodBody: 18px;
  --fontSizeFoodFooter: 14px;
  --fontSizeFoodFooterButtons: 18px;

}

body{
  background-color: var(--backgroundColor);
  color: var(--fontColor);
  font-family: var(--fontFamily);
}

span {
  font-family: var(--fontFamily);
}

.Content{
  position: relative;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
